/* App.css */

.App {
  text-align: center;
  margin: 20px;
}

form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

input {
  width: 95%;
}

select, button {
  width: 100%;
}

input, select, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50; 
  color: white;              
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#create,#cancel,#save {
  background-color: rgb(11, 113, 215);
  width: auto;
}

#save {
  background-color: #4CAF50;
}

#cancel, .delete, #Reset {
  background-color: #f44336; /* Red color for cancel */
}

#edit {
  background-color: rgb(11, 215, 215);
  color: white; 
}

#edit:hover {
  background-color: rgb(50, 234, 234);
}

#delete {
  background-color: rgb(233, 8, 8);
  color: white; 
}

#delete:hover,#Reset:hover{
  background-color: rgb(205, 39, 39);
}

button:hover {
  background-color: #45a049;
}

select {
  cursor: pointer;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
}

/* TableStyles.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: black;
}

tr > td {
  font-size: 11px;
}

tr:hover {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.txtCenter {
  text-align: center;
}