/* App.css */

.App {
  text-align: center;
  margin: 20px;
}

form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

input{
   width: 95%;
}
select,button{
  width: 100%;
}
 input,select, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50; /* Green background */
  color: white;              /* White text */
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

select {
  cursor: pointer;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
}